

.note{
	width: 600px;
	margin: 0 auto;
	padding: 15px;
	font-size: 15px;
	background-color: #f8f7f7;
	border-radius: 5px;
}
.note__title{
	margin: 0;
	padding-bottom: 15px;
	font-size: 20px;
}
.item-input{
	width: 100%;
	height: 30px;
	font-family: serif;
	font-size: 15px;
	box-sizing: border-box;
	border: none;
	background-color: #f8f7f7; 
}
.item-input:focus{
	outline: none;
	border-top: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
}
/*#new-item{
	margin-top: 5px;*/
}
.item-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.item{
	position: relative;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}
.button-delete{
	display: none;
	position: absolute;
	margin: 5px;
	right: 5px;
	top: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	color: #fff;
	text-align: center;
	background: url(img/destroy.png) no-repeat;
}
.button-delete:hover{
	background-position: 0 -20px;
}
.view:hover .button-delete{
	display: block;
}
.item-input_edit{
	display: none;
}
.item_editing .view{
	display: none;
}
.item_editing .item-input_edit{
	display: block;
}






















